body {
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100%;
    background-color: black;
}

#background {
    background-image: url(images/background.jpg);
    min-height: 100vh;
    background-size: cover;
    height: 100%;
}

#hidden {
    display: none;
}

#introTxt {
    position: absolute;
    font-size: 2rem;
    font-weight: bolder;
    letter-spacing: 3px;
    line-height: 1.5;
    color: white;
    text-shadow: 2px 2px 0 blue,
        2px 2px 0 blue,
        2px 2px 0 blue,
        2px 2px 0 blue;
    width: 550px;
    top: 10%;
    left: 33%;
    z-index: 1;
}

#startAnimation {
    position: absolute;
    font-size: 2rem;
    height: 7rem;
    width: 10rem;
    border: solid 2px black;
    border-radius: 30px;
    left: 45%;
    top: 80%;
    z-index: 1;
    background-color: gold;
}

#start-btn {
    height: 60px;
    width: 120px;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 15px;
}

#playAgain {
    position: absolute;
    display: none;
    border: solid 2px black;
    height: 60px;
    width: 120px;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 15px;
    left: 20%;
    top: 2%;
}

.background-imgs {
    position: absolute;
    width: 50vw;
    height: 100vh;
    min-height: 100%;
    background-size: 100% 100%;
}

#bg-image1 {
    background-image: url('images/curtain.jpg');
    left: 0;
}

#bg-image2 {
    background-image: url('images/curtain.jpg');
    right: 0;
}

.animate {
    animation-duration: 10s;
    animation-fill-mode: forwards;
}

#bg-image1.animate {
    animation: split 10s forwards;
}

#bg-image2.animate {
    animation: split2 10s forwards;
}

@keyframes split {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes split2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}


#board {
    width: 660px;
    height: 600px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background-size: cover;
    border: 2px solid black;
    border-radius: 25px;
    background-color: gold;
}

#board:hover {
    cursor: url(images/hammer.png), auto;
}

#board div {
    width: 215px;
    height: 200px;
    background-image: url(Images/hat3.png);
    background-size: cover;
}

#main-titles {
    display: inline-flex;
    color: gold;
}

#countdown {
    margin-right: 100px;
}

#score {
    margin-left: 100px;
    margin-top: 26px;
}

.time-msgs {
    font-size: 40px;
    font-weight: bolder;
    margin-top: 280px;
    position: absolute;
    color: gold;
}

#time-msg1 {
    margin-left: 100px;
}

#time-msg2 {
    margin-left: 1200px;
}

.images {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 30px;
}


.captions {
    position: absolute;
    margin-left: 90px;
}

@media only screen and (max-width: 480px) {
    #introTxt {
        font-size: 1rem;
        width: 70%;
        left: 16%;
    }

    #startAnimation {
        left: 30%;
        top: 28rem;
        width: 10rem;
    }

    #main-titles {
        display: inline-block;
    }

    #score {
        margin-right: 6.5rem;
    }

    .countDown {
        margin-left: 6rem;
    }

    #board {
        width: 330px;
        height: 300px;
        flex-wrap: wrap;
        border-radius: 15px;
        margin-top: 3rem;
        margin-right: 5.25rem;
    }

    #board div {
        width: 107.5px;
        height: 100px;
        background-size: cover;
    }

    .images {
        height: 6rem;
        width: 6rem;
    }
}

@media only screen and (max-width: 600px) {
    #introTxt {
        font-size: 1.425rem;
        width: 70%;
        left: 16%;
    }

    #startAnimation {
        left: 30%;
        top: 39rem;
        width: 10rem;
    }

    #main-titles {
        display: inline-block;
        margin-top: 3rem;
        margin-right: 4rem;
    }

    #score {
        margin-right: 6.25rem;
    }

    .countDown {
        margin-left: 6rem;
    }

    #board {
        width: 323px;
        height: 350px;
        flex-wrap: wrap;
        border-radius: 15px;
        margin-top: 3rem;
        margin-right: 5.25rem;
    }

    #board div {
        width: 107.5px;
        height: 100px;
        background-size: cover;
    }

    .images {
        height: 2.5rem;
        width: 2.5rem;
        margin-right: 1rem;
    }
    #time-msg1{
        margin-top: 15rem;
    }
    #time-msg2{
        display: none;
    }
}