body {
    text-align: center;
    background-image: url(images/background.jpg);
    background-size: cover;
}

#board {
    width: 660px;
    height: 600px;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

    background-size: cover;
    border: 3px solid black;
    border-radius: 25px;
    /* background-color: rgb(134, 69, 134); */
    background-color: gold;
}

#board div {
    width: 215px;
    height: 200px;
    background-image: url(Images/hat3.png);
    background-size: cover;
}

#main-titles {
    display: inline-flex;
    color: gold;
}

#countdown {
    margin-right: 100px;
}

#score {
    margin-left: 100px;
    margin-top: 26px;
}

#start-btn {
    height: 60px;
    width: 120px;
    font-size: 20px;
    border-radius: 20px;
    margin-bottom: 15px;
}

.time-msgs {
    font-size: 40px;
    font-weight: bolder;
    margin-top: 280px;
    position: absolute;
    color: gold;
}

#time-msg1 {
    margin-left: 100px;
}

#time-msg2 {
    margin-left: 1300px;
}

.images {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 30px;
}

#problems-img {
    border: solid red 5px;
}

#blessings-img {
    border: solid green 5px;
}


.captions {
    position: absolute;
    margin-left: 90px;
}



.background-imgs {
    position: absolute;
    background-image: url('images/curtain.jpg');
    width: 50vw;
    height: 100vw;
    background-size: 100% 100%;
}

#bg-image1 {

    /* Set left to '0' so it would take up the 'left' side of the screen and the same for image2.
    Also Set the animation to forwards so that once it ran it would stay and not 'rerun' */
    animation: split 10s forwards;
    left: 0;
}

#bg-image2 {
    animation: split2 10s forwards;
    right: 0;
}

/*Basically set the animation to move along the x-axis. Negative percent will make it move left on the x-axis and vice versa 
for 'positive'*/
@keyframes split {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes split2 {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100%);
    }
}